.cache
.lsp-session-v1
.org-id-locations
auto-save-list
bookmarks
elpa
org-roam.db
projectile-bookmarks.eld
projectile.cache
projects
eshell/history
eshell/lastdir
transient
flycheck_init.el
flycheck_packages.el
eln-cache
persist
.pdf-view-restore
ni.cache
url
request
tramp
*.~undo-tree~
quelpa
themes
org-persist
undo-tree
straight