.cache
.lsp-session-v1
.org-id-locations
auto-save-list
bookmarks
elpa
org-roam.db
private
projectile-bookmarks.eld
projectile.cache
projects
eshell/history
eshell/lastdir
transient
flycheck_init.el
eln-cache
persist
.pdf-view-restore
ni.cache